/**
 *
 * You can write your CSS code here, DO NOT touch the default JavaScript file
 * because it will make it harder for you to update.
 * 
 */

/*# sourceMappingURL=custom.css.map */

body.login-body {
    background-image: url(../img/book.jpg);
    background-repeat: none;
}

.login-brand strong {
    color: #fff !important;
}

.simple-footer p {
    color: #fff !important;
}

.simple-footer a {
    color: #64fdff !important;
}

::placeholder {
    color: #fff;
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

::-webkit-scrollbar-track {
    background: #eee;
}

::-webkit-scrollbar-thumb {
    background: #6777ef;
}

.post-header h4 {
    font-size: 1.75rem !important;
}

.post-body p {
    font-size: 0.875rem !important;
}

iframe.video {
    width: 100% !important;
    height: 250px !important;
}

@media (max-width: 768px) {
    iframe.video {
        width: 100% !important;
        height: 315px !important;
    }
}

@media (max-width: 392px) {
    iframe.video {
        width: 100% !important;
        height: 157.5px !important;
    }
}
